@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=DM+Serif+Text:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=DM+Serif+Text:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* main usable colors */
    --bg-color: black;
    --second-bg-color: #292b2f;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 75.5%;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    /* all sections height and padding  */
    min-height: 100%;
    padding: 10rem 9% 2rem;
}

.header {
    /* responsive header which contains navbar */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 9%;
    background: var(--second-bg-color);
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 100;
}

.header .sticky {
    border-bottom: .1rem slid rgba(0, 0, 0, .2);
}

.lo {
    /* portfolio heading */
    font-size: 3rem;
    color: deeppink;
    font-weight: 500;
    cursor: default;
}

.go {
    color: var(--main-color);
}

.navbar a {
    /* links in navbar */
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .4s;
}

.navbar a:hover,
.navbar a .active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.2rem;
    color: var(--text-color);
    cursor: pointer;
}

/* home secton design */
#home {
    margin: 10vh;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content h3 {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.4rem;
}

.home-content h3 {
    margin-bottom: .1rem;
}

span {
    color: var(--main-color);
}

#skills {
    color: yellow;
}

.home-content .om {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: blueviolet;
}

.home-img img {
    width: 23vw;
    height: 55vh;
    transition: .5s ease;
    margin-left: 3vw;
    border-radius: 50%;
    box-shadow: 0 0 2rem azure;
}

.home-img img:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 2rem deeppink;
}

.home-content p {
    font-size: 1.6rem;
    margin-top: 2rem;
}


/* social media icons  */
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

/* all buttons  */
.btn {
    display: inline-flex;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5 ease-in-out;
}

.btn:hover {
    box-shadow: none;
}

/* about section design */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 3vh; */
    gap: 5rem;
    background: var(--bg-color);
}

.about-img img {
    width: 23vw;
    height: 55vh;
    transition: .5s ease;
    border-radius: 50%;
    box-shadow: 0 0 2rem azure;
}

.about-img img:hover {
    box-shadow: 0 0 2rem deeppink;
    cursor: pointer;
    transform: scale(1.02);
}

.about-heading {
    color: azure;
}

.heading {
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    color: deeppink;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}


.about-content h3 {
    font-size: 2.6rem;
    font-weight: 600;
    color: blueviolet;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    line-height: 3rem;
}


/* services section design */
.services h2 {
    margin-bottom: 5rem;
    color: deeppink;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 15rem;
    background: var(--bg-color);
    padding: 1rem 1rem 1rem;
    text-align: center;
    border-radius: 2rem;
    border: .4rem solid var(--text-color);
    transition: .5s ease;
    overflow-x: hidden;
    cursor: default;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.1);
}

.services-box i {
    font-size: 5rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.5rem;
}

.services-box p {
    font-size: 1.1rem;
    margin: 1rem 0 3rem;
}


/* projects section design */
.portfolio {
    background: var(--bg-color);
}

.portfolio h2 {
    margin-bottom: 4rem;
    color: deeppink;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    width: 100%;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    height: 28vh;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box img:hover {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, var(--main-color));
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    align-items: center;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 2rem;
}

.portfolio-layer p {
    font-size: 1.2rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}


/* skills section design */

.skills-container {
    width: 100%;
    display: grid;
}

.skills-first p {
    font-size: 3.8rem;
    color: deeppink;
    font-weight: 550;
    text-align: center;
}

.skills-circles {
    box-shadow: 0 0 2rem var(--second-bg-color);
    margin-top: 8vh;
    background: var(--second-bg-color);
    border-radius: 20px;
}

.box1 {
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* margin-top: 20vh; */
    /* box-shadow: 0 0 2rem var(--main-color); */
}

.box2 {
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* margin-top: 20vh; */
    /* box-shadow: 0 0 2rem var(--main-color); */
}

a .skills-circle1 {
    /* skill circles which shows the skills in percentage */
    position: relative;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    background: var(--text-color);
    /* Background inside the circle */
    color: white;
    font-size: 16px;
    font-weight: bold;
    flex-direction: column;
    transition: .5s ease;
    box-shadow: inset 0 0 4rem var(--main-color);
}

.skills-circle1:hover {
    cursor: pointer;
    transform: scale(1.4rem);
    box-shadow: 0 0 5rem orange;
}

.skills-circle1::before {
    content: "";
    position: absolute;
    inset: -8px;
    /* Creates border effect */
    border-radius: 50%;
    /* background: conic-gradient(var(--main-color) 0deg calc(var(--percentage) * 3.6deg),
            /* Main color */
    /* var(--second-bg-color) calc(var(--percentage) * 3.6deg) 360deg
            Secondary color; */
    z-index: -1;
}


/* skills showing skills name and its percentages */
.skills-circle1 h2 {
    color: var(--second-bg-color);
    font-size: 1.6rem;
    font-weight: 600;
    font-family: cursive;
}

.skills-circles i {
    font-size: 2rem;
    color: orangered;
}

/* .bx .bxl-html5:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
} */
.skills-circle1 h3 {
    color: var(--second-bg-color);
    align-items: center;
    align-content: center;
    margin: 5px 0 0 0;
    font-size: 1.4rem;
    color: var(--second-bg-color);
}

#circle1 {
    margin: 2rem;
    /* --percentage: 85; */
}

#circle2 {
    margin: 2rem;
    /* --percentage: 81; */
}

#circle3 {
    margin: 2rem;
    /* --percentage: 75; */
}

#circle4 {
    margin: 2rem;
    /* --percentage: 70; */
}

#circle5 {
    margin: 2rem;
    /* --percentage: 75; */
}


/* contact section design */
.contact h2 {
    margin-bottom: 3rem;
    color: deeppink;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.2rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}


/* footer design */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9rem;
    background: var(--bg-color);
}

.footer-text p {
    font-size: 1.2rem;
    margin-left: 10vw;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .4s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1.2rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 1200px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        /* for responsive navbar as devices or width changes */
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--second-bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}

/*<------------To be Contineued----------->*/